<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ryan.mapper.ChengjiMapper">
	<!-- <select id="selectByPage" resultType="Chengji"> select cname from classes 
		limit #{offset},#{limit} </select> <select id="selectTotal" resultType="int"> 
		select count(cname) from classes; </select> -->
	<select id="selectMax" resultType="double">
		SELECT MAX(esgrade) FROM exam_stu WHERE sno IN(SELECT
		sno FROM student WHERE sclass=#{sclass})
	</select>
	<select id="selectMin" resultType="double">
		SELECT MIN(esgrade) FROM exam_stu WHERE sno IN(SELECT
		sno FROM student WHERE sclass=#{sclass})
	</select>
	<select id="selectclassCnum6" resultType="int">
		SELECT COUNT(esgrade>60) FROM exam_stu WHERE sno
		IN(SELECT sno FROM student WHERE sclass=#{sclass})
	</select>
	<select id="selectclassCnum" resultType="int">
		select cnum from classes
	</select>
	<select id="selectzf" resultType="double">
	SELECT SUM(esgrade) FROM exam_stu WHERE sno IN
		(SELECT sno FROM student WHERE sclass=#{sclass})
	</select>
	<select id="selectclassCnum9" resultType="int">
	SELECT COUNT(esgrade>85) FROM exam_stu WHERE sno IN(SELECT sno FROM student WHERE sclass=#{sclass})
	</select>
	<select id ="selectClass" resultType="Classes">
	select * from classes
	</select>
</mapper>